# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
env3/
__env__/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Distribution and packaging
*.egg
*.egg-info/
dist/
build/

# Local development settings
*.sqlite3
*.log

# IDE-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Dependency management
node_modules/
jspm_packages/

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
